fastapi
uvicorn
python-multipart
requests
python-dotenv
pandas
langchain
langchain-core
langchain-classic
langchain-community
langchain-google-genai
langchain-openai
openai
SQLAlchemy
Pillow
psycopg2-binary
chromadb
google-genai
